
@import "bootstrap-variables.sass";
@import "../../vendors/bootstrap/stylesheets/bootstrap";
@import "navbar.scss";
@import "header";
@import "carousel.scss";
@import "headline";
@import "map.scss";
@import "allEvents.scss";
@import "singleEvent.scss";
@import "categories.scss";
@import "signin.scss";
@import "footer.scss";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #FAFAFA;
	font-family: 'Roboto', sans-serif;
}












